<div class="info-box">
    <div id="title">
        <span>
            お知らせ
        </span>
    </div>

    <div id="info">
        <ul>
            <li>
                <a href="https://www.xpcoin.io/">XP公式HP</a>
            </li>
    
            <li>
                <a href="https://discordapp.com/invite/cRdmwdz">XP本家discord</a>
            </li>

            <li>
                Twitter-TipBot「XPちゃん」の送金履歴は<a href="http://xpchan.love/">こちら</a>から確認できます  
            </li>
        </ul>
    </div>
</div>
