---
layout: default
title: Shop List
permalink: /shoplist
---

<div id="shop_list-header">
  <h2>Shop List</h2>

  <p>XPpay対応店舗・サービスのリストです。</p>
  <p>現在、XPpay対応店舗・サービスは<span>{{ site.shops | size }}</span>件です。</p>
</div>

<div class="shop-regions">
  <ul>
    {% include shop_region_partial.html region_name = "北海道" %}
    {% include shop_region_partial.html region_name = "東北地方" %}
    {% include shop_region_partial.html region_name = "関東地方" %}
    {% include shop_region_partial.html region_name = "中部地方" %}
    {% include shop_region_partial.html region_name = "近畿地方" %}
    {% include shop_region_partial.html region_name = "中国地方" %}
    {% include shop_region_partial.html region_name = "四国地方" %}
    {% include shop_region_partial.html region_name = "九州地方" %}
    {% include shop_region_partial.html region_name = "沖縄" %}
    {% include shop_region_partial.html region_name = "海外" %}
  </ul>
</div>

<div>
  {% include shop_partial.html region_name = "北海道" %}
  {% include shop_partial.html region_name = "東北地方" %}
  {% include shop_partial.html region_name = "関東地方" %}
  {% include shop_partial.html region_name = "中部地方" %}
  {% include shop_partial.html region_name = "近畿地方" %}
  {% include shop_partial.html region_name = "中国地方" %}
  {% include shop_partial.html region_name = "四国地方" %}
  {% include shop_partial.html region_name = "九州地方" %}
  {% include shop_partial.html region_name = "沖縄" %}
  {% include shop_partial.html region_name = "海外" %}
</div>
