---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$border-color: #E4E6EB;

.header-icon {
    height: 10mm;
    width: 10mm;
    margin-right: 0.3em;
}

.xp-value-box {
    margin-bottom: 1em;
}

@mixin post-category {
    padding: 0 .3rem;
    margin: 0 .1rem;
    background: $text-color;
    color: white;
    &:hover {
        text-decoration: none;
    }
}
.post-meta {
    display: block;
    margin-top: -.3rem;
    margin-bottom: 1rem;
    color: #9a9a9a;
    time {
        margin-right: .5rem;
    }
    .post-categories {
        display: inline-block;
        a {
            @include post-category;
            font-size: .8rem;
        }
    }
}

.category-cloud {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
        a {
            @include post-category;
        }
    }
}

.faq-partial, .post-content * {
    line-height: 2em !important;
}

.post-summary {
    border-bottom: solid 1px $border-color;
}

.post-summary:first-child {
    border-top: solid 1px $border-color;
    padding-top: 1em;
}

#category-post-list-item {
    margin-top: 0.2em;
}

.page-heading {
    margin-top: 2em;
    padding-left: 0.1em;
}

.posts-by-categories {
    margin-top: 1em;
}

.post-title {
    font-size: 26pt !important;
}

.post-header {
    border-bottom: solid 1px $border-color;
}

.posts-by-categories {
    padding-top: 1em;
    border-top: solid 1px $border-color !important;
}

.icon--discord > svg {
    margin-left: -0.1em !important;
    margin-right: 0.1em !important;
    width: 20px !important;
}

.sns-share {
    display: block;
    list-style: none;
    float: right;
    margin: 0 auto;
    padding: 0;
}

.sns-share > li {
    margin: 0.4em 0.6em;
    padding: 0.2em;
    float: right;
}

$sns-share-font-color: #fefefe;

.sns-share > li > a {
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    margin: 0 auto;

    cursor: pointer;
    color: $sns-share-font-color;
    font-weight: bold;
}

$twitter-color: #1dcaff;
$facebook-color: #3B5998;
$google-color: #d34836;

$twitter-shadow-color: #0dbaef;
$facebook-shadow-color: #2B4988;
$google-shadow-color: #e33826;

.sns-share > li > a:hover {
    text-decoration: none;
}

.sns-share > li > .share-button-twitter:hover {
    color: $twitter-color;
    background-color: $sns-share-font-color;
}

.sns-share > li > .share-button-google:hover {
    color: $google-color;
    background-color: $sns-share-font-color;
}

.sns-share > li > .share-button-facebook:hover {
    color: $facebook-color;
    background-color: $sns-share-font-color;
}

.share-button-twitter {
    background-color: $twitter-color;
    border: solid 1px $twitter-color;
}

.share-button-facebook {
    background-color: $facebook-color;
    border: solid 1px $facebook-color;
}

.share-button-google {
    background-color: $google-color;
    border: solid 1px $google-color;
}

.faq-partial {
    padding-top: 1em;
    border-top: solid 1px $border-color;
}

.faq-partial:first-child {
    border-top: solid 1px $border-color;
}

.rss-subscribe {
    margin-top: 1em;
}

.pagination {
    font-size: 16pt;
}

.pagination > * {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.hid {
    color: $text-color !important;
}

.hid:hover {
    cursor: default !important;
    text-decoration: none;
}

@include media-query($on-palm) {
    .sns-share > li {
        margin: 0.4em 0.5em;
        padding: 0.2em 0;
    }
    .sns-share > li > a {
        padding-left: 0.6em;
        padding-right: 0.6em;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
    }
}
