---
layout: default
---

<div class="home">
  <div class="info-box">
    <div id="title">
      <span>
          お知らせ
      </span>
    </div>

    <div id="info">
        <ul>
          <li>
              <a href="{{site.baseurl}}/official/2018/01/06/New_Wallet_Bootstrap.html">PCウォレットを既に利用している状況でブートストラップを使用した場合の注意喚起(2018/01/06)</a>
          </li>
    
          <li>
              <a href="{{site.baseurl}}/official/2018/01/06/late_wallet_update.html">旧ウォレットのままハードフォークを迎えられた方向けの移行手順について(2018/01/06)</a>
          </li>
    
          <li>
              <a href="{{site.baseurl}}/official/2018/01/02/mac_wallet.html">XPの残高が不正に移動されたのではないかというお問い合わせに関して(2018/01/02)</a>
          </li>

          <li>
              Twitter-TipBot「XPちゃん」の送金履歴は<a href="http://xpchan.love/">こちら</a>から確認できます  
          </li>
        </ul>
    </div>
  </div>

  <div class="xp-value-box">
    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currency="experience-points" data-base="JPY" data-secondary="BTC" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="JPY" data-statsticker="true"></div>
  </div>

  {{ content }}

  <h1 class="page-heading">Posts</h1>
  
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li class="post-summary">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        
        <h4 class="post-category">
          {% for category in post.categories %}
            <a class="post-category-link" href="{{ baseurl }}/categories#{{ category | slugize }}">{{ category | escape }}</a>
          {% endfor %}
        </h4>
      </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% else %}
        <span>&laquo; Prev</span>
      {% endif %}
    
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}
    
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
    </div>
  {% endif %}
  
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
