---
layout: default
---

<div class="home">
  {% include info_box.html %}

  <div class="xp-value-box">
    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currency="experience-points" data-base="JPY" data-secondary="BTC" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="JPY" data-statsticker="true"></div>
  </div>

  {{ content }}

  <h1 class="page-heading">Posts</h1>
  
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li class="post-summary">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        
        <h4 class="post-category">
          {% for category in post.categories %}
            <a class="post-category-link" href="{{ baseurl }}/categories#{{ category | slugize }}">{{ category | escape }}</a>
          {% endfor %}
        </h4>
      </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}
  
  <div>
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  </div>

</div>
